*{
  margin: 0;
  padding: 0;
}
div{
  padding: 0.5em;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:antiquewhite;

}

button{
  margin: 0 2px;
  padding: 1px;
}

a {
  color: #00B7FF;
}

header{
  background: linear-gradient(rgba(0, 183, 255, 0.2), rgba(0, 183, 255, 0.1), antiquewhite);
  text-align: center;
  padding: 18px;
  h1{
    color: red;
  }
}

main{
  padding: 0 5px;
}

hr{
  color: lightgray;
  border: none;
  border-top: solid lightgray 1px;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.post{
  background-color:lightblue;
  width: fit-content;
  margin: 1em;
  border: outset lightblue 1px;
  >div{
    width: fit-content;
  }
}

form{
  text-align: left;
  width: fit-content;
  background-color: lightblue;
  padding: 1em;
  border: outset lightblue 1px;
  label{
    display: block;
  }
  input[type="text"], textarea{
    width: 100%;
  }
}